{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

    

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="other-person-address">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
                   Do you know anything about the other person's current address?
      </h1>
    </legend>
<div class="govuk-radios govuk-radios--inline">
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes~other_parent_current_address">
    <label class="govuk-label govuk-radios__label" for="changed-name">
      Yes
    </label>
  </div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no~other_parent_uk_region">
    <label class="govuk-label govuk-radios__label" for="changed-name-2">
      No
    </label>
  </div>
</div>
</fieldset>
</div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}