{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">You'll need to pay a £20 application fee</h1>
          <p class="govuk-body">Have your credit or debit card details ready.</p>

          <p class="govuk-body">

            <a href="https://products.payments.service.gov.uk/pay/057eade00cfe4b3e9e1d11f628c69f5e" role="button" draggable="false" class="govuk-button">
                Pay £20 fee and submit your application</a>

        </p>


      </div>
    </div>
  </main>
  </div>
  {% endblock %}
