{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
    <!--start of radio-->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="question-3-live-uk-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl ">
          <h1 class="govuk-fieldset__heading">
            Which UK employer do you or the other parent work for?
          </h1>
        </legend>

        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="question-3-live-in-uk-1" name="question-3-live-in-uk" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="question-3-live-in-uk-1">
          The armed forces
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="question-3-live-in-uk-2" name="question-3-live-in-uk" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="question-3-live-in-uk-2">
          The Civil Service
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="question-3-live-in-uk-3" name="question-3-live-in-uk" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="question-3-live-in-uk-3">
          Her Majesty's Diplomatic Service
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="question-3-live-in-uk-4" name="question-3-live-in-uk" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="question-3-live-in-uk-4">
          The NHS
        </label> </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="question-3-live-in-uk-4" name="question-3-live-in-uk" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="question-3-live-in-uk-4">
          A UK local authority
        </label> </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="question-3-live-in-uk-4" name="question-3-live-in-uk" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="question-3-live-in-uk-4">
            A company that is based and registered in the UK
          </label> </div>
          <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="question-3-live-in-uk-4" name="question-3-live-in-uk" type="radio" value="none">
          <label class="govuk-label govuk-radios__label" for="question-3-live-in-uk-4">
            None of these
          </label> </div>

    </div>
    <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
