{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                <h1 class="govuk-fieldset__heading">
                  We need to ask the other parent how they want to pay child maintenance
                </h1>
              </legend>

                <p>To use Collect and Pay:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>there must be evidence that the other parent has missed previous payments, or</li>
                    <li>the other parent has to agree to use Collect and Pay</li>
                </ul>

                <p>In most cases, we will set up a Direct Pay arrangement. You do not need to have any contact with the other parent if
                  we do this.</p>

              <button type="submit" class="govuk-button">
                Continue
              </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
