{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                    <h1 class="govuk-fieldset__heading">
                    Is there a consent order in place for {{data['child-2-first-name'] }}?
                    </h1>
                  </legend>
                  <span id="changed-name-hint" class="govuk-hint">
                    Details about consent order....
                  </span>
                  <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="child-2-consent-order-yes" name="child-2-consent-order" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="child-2-consent-order-yes">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="child-2-consent-order-no" name="child-2-consent-order" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="child-2-consent-order-no">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        
        </div>
      </div>
    </main>
  </div>
  {% endblock %}
