{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
              <h1 class="govuk-fieldset__heading">
                What is your home address?
              </h1>
            </legend>

            <p>Your answer is confidential.</p>

            <label class="govuk-label" for="correspondence-address">
              <strong>Postcode</strong>
            </label>
            <input class="govuk-input govuk-!-width-one-quarter" id="correspondence-address"
              name="correspondence-address" type="text">
          </div>
          <button type="submit" class="govuk-button">
            Find address
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
