{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Select your home address</h1>

                <p>We will not share this information with the other parent.</p>

                <form method="post" novalidate>
                    <div class="govuk-form-group">


                        <div class="govuk-form-group">
                            <label class="govuk-label" for="sort">
                                <strong>Select your home address</strong>
                            </label>
                            <select class="govuk-select" id="sort" name="sort">
                                <option value="1"> 17 Willow Avenue</option>
                                <option value="2">18 Willow Avenue</option>
                                <option value="3">19 Willow Avenue</option>
                                <option value="4">20 Willow Avenue</option>
                                <option value="5">21 Willow Avenue</option>
                                <option value="6">22 Willow Avenue</option>
                                <option value="7">23 Willow Avenue</option>

                                <option value="10" selected> 24 Willow Avenue</option>

                            </select>
                        </div>
                    </div>
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    </div>
                    </div>
                    <a href="applicants_address_manual_input" class="govuk-link">Enter address manually</a>
            </div>
            </form>
        </div>
</div>
</main>
</div>
{% endblock %}
