{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <!--Checkboxes-->

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="abuse-checkbox-hint">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                    <h1 class="govuk-fieldset__heading">
Have you or your children ever experienced controlling, coercive or threatening behaviour, violence or abuse from a partner
or family member?                                    </h1>
                                </legend>

                                <p>This type of behaviour is called ‘domestic abuse’.</p>

                            

                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="abuse-query-1" name="abuse-query" type="radio" value="yes~domestic_abuse_have_you_told_anyone">
                                        <label class="govuk-label govuk-radios__label" for="abuse-query-1">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="abuse-query-2" name="abuse-query" type="radio" value="no~applicants_phone_number">
                                        <label class="govuk-label govuk-radios__label" for="abuse-query-2">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}