
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <a href="../service_choice/choose_service.html" class="govuk-back-link">Back</a>
  
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
  
            <h1 class="govuk-heading-xl">You can't continue with your application</h1>
            <p class="govuk-body">Reason for not being able to continue and various links to appropriate services...</p>

           

      </div>
    </main>

</div>

{% endblock %}
