{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            <h1 class="govuk-heading-xl">Create an account so you can check your
            application</h1>
            <p class="govuk-body">You need to create a personal identification
              number (PIN) and a password. You'll need these to sign in to your
              Child Maintenance Service account and:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>see the progress of your application</li>
                <li>change your personal information</li>
                <li>view child maintenance payments</li>
              </ul>

              <div class="govuk-inset-text">
                You'll be shown how to find your Child Maintenance Service Account
                after you send your application.
              </div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-pin">
                  Create your PIN
                </label>
                <span id="security-details-pin-hint" class="govuk-hint">
                  Your PIN must have 7 numbers.
                </span>
                <input class="govuk-input govuk-input--width-10" id="security-details-pin" name="security-details-pin" type="text" aria-describedby="security-details-pin-hint">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-password">
                  Create your password
                </label>
                <span id="security-details-pin-hint" class="govuk-hint">
                  Your password must have:

                  <ul class="govuk-hint govuk-hint--bullet">
                    <li>at least 8 characters</li>
                    <li>at least one lower case and one capital letter</li>
                    <li>at least one number</li>
                  </ul>
                </span>
                <input class="govuk-input govuk-input--width-10" id="security-details-password" name="security-details-password" type="text" aria-describedby="security-details-password-hint">
              </div>

            <button id="personalDetailsBtn" type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>

  {% endblock %}
