{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                  <h1 class="govuk-fieldset__heading">
                    We need to ask the other parent how they want to pay child
                    maintenance
                  </h1>
                </legend>

          <p>You can only use Collect and Pay if there is evidence the other
            parent is unlikely to pay in full and on time.</p>

          <h3 class="govuk-heading-m">What it costs to use Collect and Pay</h3>

          <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Parent</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Example</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Receiving child maintenance</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">4% taken from each payment</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£4 taken from a payment of £100</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Paying child maintenance</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">20% added to each payment</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£20 added to a payment of £100</td>
    </tr>
  </tbody>
</table>

<div class="govuk-inset-text">The answers you give to the next questions will help us to
  find and contact the other parent.</div>

              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>
  {% endblock %}
