{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner_no_link.html" %}
<!--Feedback banner stop-->

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>

          <h1 class="govuk-heading-xl">Thank you</h1>
          <p class="govuk-body">
            Your information has been submitted. We will be in touch if you have been selected for user research.
          </p>

          <button onclick="self.close()" type="submit" class="govuk-button">
            Close
          </button>

        </form>



      </div>
    </div>
  </main>
</div>
{% endblock %}