{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What is your National Insurance number?
              </h1>
            </legend>
      <!--    <label class="govuk-label" for="applicant-national-insurance-number" style="visibility:hidden">
                National Insurance number
              </label> -->
            <span id="applicantNationalInsuranceNumberInformation" class="govuk-hint">
              It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
            </span>
            <input class="govuk-input govuk-input--width-10" id="applicant-national-insurance-number"
              name="applicant-national-insurance-number" type="text"
              aria-describedby="applicantNationalInsuranceNumberInformation" spellcheck="false">
          </div>
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I do not know my National Insurance number
            </span>
          </summary>
          <div class="govuk-details__text">
              <h2 class="govuk-heading-m">You'll need to call the Child Maintenance
                  Service</h2>
                  <p class="govuk-body">You'll need to give some more information so
                    you can continue your application.</p>


                    <div class="contact">
                      <p><strong>Child Maintenance Service</strong><br>
                        Telephone: 0800 953 0191  <br>

                      <p>Monday to Friday, 8am to 7.30pm  <br>

                      <p>Saturday, 9am to 4pm<br>
                        <a href="/call-charges">Find out about call charges</a></p>
        </details>
      </div>
    </div>
  </main>
</div>
{% endblock %}
