{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            <h1 class="govuk-heading-xl">Register your details</h1>
            <p class="govuk-body">You need to enter your email address and create
              a personal identification number (PIN) and a password. You'll need
              to remember these so you can register for your Child Maintenance
              Service account.</p>

              <div class="govuk-inset-text">
                You'll be shown how to find your account at the end of this application.
              </div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-pin">
                    <strong>Enter your email address</strong>
                </label>
                <input class="govuk-input govuk-input--width-10" id="security-details-pin" name="security-details-pin" type="text" aria-describedby="security-details-pin-hint">
              </div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-pin">
                  <strong>Create your PIN</strong>
                </label>
                <span id="security-details-pin-hint" class="govuk-hint">
                  Your PIN must have 7 numbers.
                </span>
                <input class="govuk-input govuk-input--width-10" id="security-details-pin" name="security-details-pin" type="text" aria-describedby="security-details-pin-hint">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-password">
                  <strong>Create your password</strong>
                </label>
                <span id="securityDetailsPasswordInformation" class="govuk-hint">
                  Your password must have:

                  <ul class="govuk-hint govuk-hint--bullet">
                    <li>at least 8 characters</li>
                    <li>upper and lower case letters</li>
                    <li>a number</li>
                  </ul>
                </span>
                <input class="govuk-input govuk-input--width-10" id="security-details-password" name="security-details-password" type="text" aria-describedby="securityDetailsPasswordInformation">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-password">
                  <strong>Confirm your password</strong>
                </label>
                <input class="govuk-input govuk-input--width-10" id="security-details-password" name="security-details-password" type="text" aria-describedby="securityDetailsPasswordInformation">
              </div>

            <button id="personalDetailsBtn" type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>

  {% endblock %}
