{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            <h1 class="govuk-heading-xl">Using your online account</h1>
            <p class="govuk-body">To use your online account you will need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your National Insurance number</li>
  <li>your customer reference number (you will get this once you have submitted your application)</li>
  <li>a 7 digit Personal Identification Number (PIN) </li>
</ul>

<h2 class="govuk-heading-m">Create a 7-digit PIN</h2>

<span class="govuk-hint">You'll need to remember this so you can sign in to your online account</span>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-pin">
                    <strong></strong>
                </label>
                <span id="security-details-pin-hint" class="govuk-hint">

                </span>
                <input class="govuk-input govuk-input--width-10" id="security-details-pin" name="security-details-pin" type="text" aria-describedby="security-details-pin-hint">
              </div>


            <button id="personalDetailsBtn" type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>

  {% endblock %}
