{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create an 8-digit Personal Identification Number (PIN)</h1>






        <div class="govuk-form-group">
          <label class="govuk-label govuk-input--width-15" for="security-details-password">
          </label>
          <span class="govuk-hint">You'll need this PIN to sign into your online Child Maintenance account.</span>
          <input class="govuk-input govuk-input--width-2" maxlength="2" id="security-details-password" name="security-details-password" type="text"
            aria-describedby="securityDetailsPasswordInformation">
          <input class="govuk-input govuk-input--width-2" maxlength="2" id="security-details-password" name="security-details-password"
            type="text" aria-describedby="securityDetailsPasswordInformation">
          <input class="govuk-input govuk-input--width-2" maxlength="2" id="security-details-password" name="security-details-password"
            type="text" aria-describedby="securityDetailsPasswordInformation">
          <input class="govuk-input govuk-input--width-2" maxlength="2" id="security-details-password" name="security-details-password"
            type="text" aria-describedby="securityDetailsPasswordInformation">

        </div>




        <button id="personalDetailsBtn" type="submit" class="govuk-button">
          Continue
        </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}