{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
}) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
    <!--start of radio-->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="portal_query-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl ">
          <h1 class="govuk-fieldset__heading">
          As part of your application, we will create an online child maintenance account for you
          </h1>
        </legend>

        <p class="govuk-body">After you've created some security details you'll be able to use it to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>update your personal information</li>
          <li>change how we contact you</li>
          <li>see your child maintenance payment schedule</li>
          <li>contact us about your case at any time</li>
        </ul>

              <div class="govuk-inset-text">Only you and the Child Maintenance Service can see the security details you create.</div>

    <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
