{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
        {{ govukBackLink({
            text: 'Back',
            href: 'javascript:history.back()'
        }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-xl">Check your answers about your children</h1>

                 {% include "cmg-app/sprint_9/sprint_9_main_prototype/reviews/review_content/review_about_child_1.html" %}

                 
            </div>
        </div>
    </main>
</div>

{% endblock %}
