{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>




                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading">
                                    Childcare arrangements for {{data['child-1-first-name'] }}
                                </h1>

                            </legend>
                        </fieldset>
                        <span class="govuk-hint"> If you have not yet worked out how often {{data['child-1-first-name'] }} will stay overnight with
                            the other parent, tell us what's happening now.</span>
                        <h2 class="govuk-heading-m">How often does {{data['child-1-first-name'] }} stay overnight with the other parent?

                            <br>

                            <div class="form-group">
                                <div class="govuk-date-input" id="number-of-nights">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="number-of-nights">
                                                Number of nights
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="number-of-nights" name="number-of-nights" type="number">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
                                    <h1 class="govuk-fieldset__heading">
                                        Is the number of nights weekly, fortnightly or monthly?</h1>
                            </div>
                            <div class="govuk-form-group">

                                <div class="govuk-radios" id="how-regular">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="how-regular" name="how-regular" type="radio" value="week">
                                        <label class="govuk-label govuk-radios__label" for="how-regular">
                                            Weekly
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="how-regular-2" name="how-regular" type="radio" value="fortnight">
                                        <label class="govuk-label govuk-radios__label" for="how-regular-2">
                                            Fortnightly
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="how-regular-3" name="how-regular" type="radio" value="month">
                                        <label class="govuk-label govuk-radios__label" for="how-regular-3">
                                            Monthly
                                        </label>
                                    </div>

                                </div>
                                </fieldset>
                            </div>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="sharedCare" role="group">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
                                        <h1 class="govuk-fieldset__heading" id="sharedCare">

                                            Does {{data['child-1-first-name'] }} spend any additional nights with the other parent that you haven't already told us about?
                                        </h1>
                                    </legend>
                                    <span class="govuk-hint">For example, special occasions like school holidays or birthdays.</span>

                                    <div class="govuk-radios" data-module="radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="other-parent-dob-1" name="other-parent-dob" type="radio" value="yes" aria-controls="conditional-other-parent-dob-1"
                                                aria-expanded="true">
                                            <label class="govuk-label govuk-radios__label" for="other-parent-dob-1">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-parent-dob-1">
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset" role="group">
                                                    <legend class="govuk-fieldset__legend">
                                                        Days a year
                                                    </legend>

                                                    <div class="govuk-date-input" id="special-nights">
                                                        <div class="govuk-date-input__item">
                                                            <div class="govuk-form-group">
                                                                <label class="govuk-label govuk-date-input__label" for="special-nights">

                                                                </label>
                                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="special-nights" name="special-nights" type="number"
                                                                    pattern="[0-9]*">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="other-parent-dob-2" name="other-parent-dob" type="radio" value="no~other_parent_date_of_birth_next_question">
                                            <label class="govuk-label govuk-radios__label" for="other-parent-dob-2">
                                                No
                                            </label>
                                        </div>
                                    </div>
                            </div>
                    </div>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}