{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                    <h1 class="govuk-fieldset__heading">
                    Can we collect your bank details to share with the other parent?
                    </h1>
                  </legend>
                  <span id="changed-name-hint" class="govuk-hint">
                    This will be your bank account number and sort code. we will only use your bank details to set up payments between you and the other parent.
                  </span>
                  <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="share-bank-details-yes" name="share-bank-details" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="share-bank-details-yes">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="share-bank-details-no" name="share-bank-details" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="share-bank-details-no">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-inset-text">
                <p class="govuk-body">To setup child maintenance payments we will need your bank details, you can give us these details now or when your application has been processed.</p> 

                <h2 class="govuk-heading-m">You may not want the other parent to know your location</h2>

                <p class="govuk-body">If this applies to you, many banks and building societies offer accounts that use a 'central' or 'national' sort code instead of one linked to the local branch where the account was opened. This means that the account details won't give any clue about where you live.</p> 

                <p class="govuk-body">You may already have an existing bank or building society account like this. If you're not sure, your bank or building society should be able to tell from your account sort code. If your account is not this type they should be able to tell you what accounts they can offer you.</p>


              </div>

              

            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        
        </div>
      </div>
    </main>
  </div>
  {% endblock %}
