{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <form method="post" novalidate>
          <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                  <h1 class="govuk-fieldset__heading">
                      What is your National Insurance number?
                  </h1>
                </legend>
            <span id="applicant-national-insurance-number-hint" class="govuk-hint">
              It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.
            </span>
            <input class="govuk-input govuk-input--width-10" id="applicant-national-insurance-number"
              name="applicant-national-insurance-number" type="text"
              aria-describedby="applicant-national-insurance-number-hint" spellcheck="false">
          </div>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I do not know my national insurance number
              </span>
            </summary>
            <div class="govuk-details__text">
              National insurance information</p>

             
          </details>
      </div>
    </div>
  </main>
</div>
{% endblock %}