{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
              <h1 class="govuk-fieldset__heading">
                What are your contact details?
              </h1>
            </legend>
          <!--  <label class="govuk-label" for="applicant-telephone-number" style="visibility:hidden">
                UK telephone number
              </label> -->
            <p>
              Your answers are confidential.
            </p>

            <div class="govuk-form-group">
            <label class="govuk-label" for="mobile-number">
              <strong>Mobile number</strong>
            </label>
            <p>We will only use this to call you or send you text messages about
              your case.</p>
            <input class="govuk-input govuk-input--width-20" id="mobile-number"
              name="mobile-number" type="tel" autocomplete="tel">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="applicant-telephone-number">
                  <strong>Another phone number (if you have one)</strong>
                </label>
                <p>We will only use this to call you about your case.</p>
                <input class="govuk-input govuk-input--width-20" id="applicant-telephone-number"
                  name="applicant-telephone-number" type="tel" autocomplete="tel">
                  </div>

                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-input--width-20" for="security-details-password">
                      <strong>Email address</strong>
                    </label>
                    <p>We will only use this to let you know when you have a message
                      in your online account.</p>
                    <input class="govuk-input govuk-input--width-20" id="security-details-password" name="security-details-password" type="text" aria-describedby="securityDetailsPasswordInformation">
                  </div>


          </div>
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
