{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="correspondenceAddressQueryInformation">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                <h1 class="govuk-fieldset__heading" id="correspondenceAddressQueryInformation">
                  Can we send letters about your case to your home address?
                </h1>
              </legend>
              <p class="govuk-body"><strong>Home address</strong>
                  <br>Willow avenue
                  <br>Lampton
                  <br>Cramlington
                  <br>NE34 7JL
                </p>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="correspondence-query-yes" name="correspondence-query"
                    type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="correspondence-query-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="correspondence-query-no" name="correspondence-query"
                    type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="correspondence-query-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}
