{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>


                    

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading">
                                    On average, how often does Billy stay overnight with the other parent?
                                </h1>
                            </legend>
                            </fieldset>
<div class="govuk-form-group">
    <label class="govuk-label" for="weekly-over-nights">
        Number of nights
    </label>
    
    <input class="govuk-input govuk-input--width-5" id="weekly-over-nights" name="weekly-nights" type="text">

    
                    <div class="govuk-form-group" for="how-often">
                     </div>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="how-often" name="how-often" type="radio" value="week">
                                    <label class="govuk-label govuk-radios__label" >
                                    a week
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="how-often" name="how-often" type="radio" value="fortnight">
                                    <label class="govuk-label govuk-radios__label" >
                                        a fortnight
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="how-often" name="how-often" type="radio" value="month">
                                    <label class="govuk-label govuk-radios__label" >
                                       a month
                                    </label>
                                </div>
                               
                            </div>
                        </fieldset>
                    </div>




                         </div> 
                <button type="submit" class="govuk-button">
                    Continue
                </button>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}