{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>
            <h1 class="govuk-heading-xl">Create an online account</h1>
            <p class="govuk-body">We need to set up some security on your case to make sure your details are safe and secure. These security details are personal to you. You’ll need a seven-number PIN and a password. You’ll need this when you use the self service website.</p>


            <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-pin">
                  Seven digit pin
                </label>
                <span id="security-details-pin-hint" class="govuk-hint">
                  Please enter a seven digit pin because...
                </span>
                <input class="govuk-input govuk-input--width-10" id="security-details-pin" name="security-details-pin" type="text" aria-describedby="security-details-pin-hint">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-input--width-10" for="security-details-password">
                  Password
                </label>
                <span id="security-details-password-hint" class="govuk-hint">
                  Please enter a password because...
                </span>
                <input class="govuk-input govuk-input--width-10" id="security-details-password" name="security-details-password" type="text" aria-describedby="security-details-password-hint">
              </div>

            <button id="personalDetailsBtn" type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>

  {% endblock %}
