{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                  <h1 class="govuk-fieldset__heading">
                    How often does {{data['child-2-first-name'] }} stay overnight with the other parent each week?
                  </h1>
                </legend>
                
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-two-thirds" for="child-1-first-name">
                            Nights per week
                          </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="shared-care-2" name="shared-care-2" type="number" pattern="[0-9]*">
                    </div>


              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>
          </form>
        </div>
      </div>
    </main>
  </div>
  {% endblock %}
