
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!--Change to test initial commit *this can be removed-->
{{ govukBackLink({
  text: 'Back',
  href: 'javascript:history.back()'
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Child maintenance online application
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <span class="govuk-caption-xl">{{serviceName}}</span>
     
  
      
  
      <span class="govuk-caption-l">Alpha phase</span>
      <h2 class="govuk-heading-l">Other parent journey iterations</h2>
      <br>
      <br>
      <br>
  
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  
      <h3 class="govuk-heading-m">Iteration</h3>
  
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Sprint/iterations</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Notes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="sprint_5_main_prototype/index.html">Sprint 5 full journey iteration 1</a></td>
                  <td class="govuk-table__cell">24 May 2019 - 10 June 2019</td>
                <td class="govuk-table__cell">Updated iteration based off user research for domestic abuse</td>
              </tr>


              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="sprint_5_main_prototype_iteration_2/index.html">Sprint 5 full journey iteration 2</a></td>
                    <td class="govuk-table__cell">27 May 2019 - 10 June 2019</td>
                  <td class="govuk-table__cell">Updated iteration based off user research for domestic abuse</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="sprint_5_main_prototype_iteration_3/index.html">Sprint 5 full journey iteration 3</a></td>
                    <td class="govuk-table__cell">27 May 2019 - 10 June 2019</td>
                  <td class="govuk-table__cell">Content changes</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="sprint_5_main_prototype_iteration_5/index.html">Sprint 5 full journey iteration 5</a></td>
                    <td class="govuk-table__cell">5 June 2019 - 10 June 2019</td>
                  <td class="govuk-table__cell">Content changes</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="sprint_5_main_prototype_iteration_6/index.html">Sprint 5 full journey iteration 6</a></td>
                    <td class="govuk-table__cell">6 June 2019 - 10 June 2019</td>
                  <td class="govuk-table__cell">Content Changes</td>
                </tr>

            </tbody>
          </table>
  
          <br><br>
    </div>
  </div>

{% endblock %}
