{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}



            <main class="govuk-main-wrapper " id="main-content" role="main">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Do you know the other parent contact details?</h1>
                    <form method="post" novalidate>
                      <!--Address-->
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                          <h2 class="govuk-heading-m">Other parent's address</h2>
            
                          <div class="govuk-form-group">
                            <label class="govuk-label" for="applicants-address-postcode">
                              Postcode (optional)
                            </label>
                            <input class="govuk-input govuk-input--width-10" id="applicants-address-postcode"
                              name="applicants-address-postcode" type="text">
                          </div>
                        </fieldset>    
                      </div>
                      <a href="#" class="govuk-link">Find address</a>
                      <br><br><br>
          <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Other parent's phone number</h2>
            

            <p>We will only use these details to contact the other parent about
              this child maintenance arrangement.
            </p>

            
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Home phone number (optional)
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="other-parent-contact-home-phone"
                    name="other-parent-contact-home-phone" type="phone" spellcheck="false">
                </div>






                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="other-parent-contact-mobile-phone">
                    Mobile phone number (optional)
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="other-parent-contact-mobile-phone"
                    name="other-parent-contact-mobile-phone" type="tel">
                </div>





                  <div class="govuk-form-group">
                    <label class="govuk-label" for="other-parent-contact-work-phone">
                      Work phone number (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="other-parent-contact-work-phone" name="other-parent-contact-work-phone" type="tel">
                  </div>
          

            </div>

          </div>


      </div>
    </div>

    <button type="submit" class="govuk-button">
      Continue
    </button>

</div>
</div>
</main>
</div>
{% endblock %}
