{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
        {{ govukBackLink({
            text: 'Back',
            href: 'javascript:history.back()'
        }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-xl">Check your answers so far</h1>


                      <div class="govuk-warning-text govuk-!-margin-bottom-9">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                              <span class="govuk-warning-text__assistive">Warning</span>
                              This might not be enough information for us to find
                              the other parent. If you can give any more information
                              it would help us to find them.
                            </strong>
                          </div>

                 {% include "cmg-app/sprint_4/sprint_4_main_prototype/reviews/review_content/review_about_other_parent.html" %}

                    <form  method="post" novalidate>
                        <button type="submit" class="govuk-button">
                                Continue
                              </button>

                </p>
            </form>

            </div>
        </div>
    </main>
</div>

{% endblock %}
