{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Apply to the Child Maintenance Service</h1>

        <p class="govuk-body">Use this service to get help making a child
          maintenance arrangement if you and the other parent cannot agree to
          one yourselves.</p>

        <p>You’ll need:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>your invitation code – this is in the email we sent you about applying to
            the Child Maintenance Service</li>
          <li>your bank account details, if you want the Child Maintenance
            Service to collect payments for you</li>
          <li>the other parent’s name</li>
        </ul>

      <p>Give as much information as you can about the other parent. This could
      include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>where they live</li>
        <li>their National Insurance number</li>
        <li>their date of birth</li>
      </ul>

        <p class="govuk-body">There’s usually a £20 application fee. You’ll need
          a debit or credit card to pay this.</p>

        <div class="govuk-inset-text">Your personal details will not be shared
          with the other parent.</div>

        <a href="what_is_your_urn_number.html" role="button" draggable="false"
          class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">Check if you’re eligible
          <a class="govuk-link" href="#">link</a>.</p>

        <p class="govuk-body">Other ways to apply
          <a class="govuk-link" href="#">link</a>.</p>

        <p class="govuk-body">This service is available in Welsh
          <a class="govuk-link" href="#">link</a>.</p>

        <p class="govuk–body">What we do with your information
          <a class="govuk-link" href="#">link</a>.</p>
      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Subsection
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                  Related link
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                  Related link
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link govuk-!-font-weight-bold">
                  More
                  <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>
</div>

{% endblock %}
