{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="index.html" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

          <h1 class="govuk-heading-xl">What is your invitation code?</h1>

          <div class="govuk-form-group">
            <span id="urn-number" class="govuk-hint">
              It’s in the email we sent you about applying to the
              Child Maintenance Service. For example, ‘AB1234567’.
            </span>
            <input class="govuk-input govuk-!-width-two-thirds" id="urn-number" type="text" name="urn-number"
              type="text" aria-describedby="event-urn-number-hint" spellcheck="false">
          </div>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I do not have an invitation code.
              </span>
            </summary>
            <div class="govuk-details__text">
              You’ll need to speak to the Child Maintenance Options team. They’ll
              give you an invitation code and explain how to apply.</p>

              <div class="contact">
                <p><strong>Child Maintenance Options</strong><br>
                  Telephone: 0800 953 0191  <br>

                <p>Monday to Friday, 8am to 8pm  <br>

                <p>Saturday, 9am to 4pm<br>
                  <a href="/call-charges">Find out about call charges</a></p>
            </div>
          </details>

          <p class="govuk-body">
            <button type="submit" class="govuk-button">
              Continue
            </button>
          </p>
        </form>


      </div>
    </div>
  </main>

</div>

{% endblock %}
