{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-xl">If you’ve ever experienced domestic abuse
</h1>

                    <p>You should tell someone about it, if you’re able to. For example, the police, a doctor, your employer, a teacher, a social
                    worker or a support worker.</p>
                    <p>You will not have to pay the £20 fee and we will protect your personal information.</p>





                <form method="post" novalidate>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
        </div>
    </main>
</div>

{% endblock %}