{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <div class="govuk-form-group">
                <h1 class="govuk-heading-l">
              
                  <span class="govuk-caption-xl">Part 1 of 7
                  </span>
                </h1>
              </div>
              <h1 class="govuk-fieldset__heading">
                What is your National Insurance number?
              </h1>
            </legend>
      <!--    <label class="govuk-label" for="applicant-national-insurance-number" style="visibility:hidden">
                National Insurance number
              </label> -->
              <div class="govuk-inset-text">We will not share your answers with the other parent.</div>
            <span id="applicantNationalInsuranceNumberInformation" class="govuk-hint">
              It’s on your National Insurance card, benefit letter, payslip or P60. For example, QQ 12 34 56 C
            </span>
            <input class="govuk-input govuk-input--width-10" id="applicant-national-insurance-number"
              name="applicant-national-insurance-number" type="text"
              aria-describedby="applicantNationalInsuranceNumberInformation" spellcheck="false">
          </div>
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
<a href="https://www.gov.uk/lost-national-insurance-number">I don't have my National Insurance number</a>
      </div>
    </div>
  </main>
</div>
{% endblock %}
