{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Declaration</h1>
          <p class="govuk-body">
            Before sending this application you agree that:
          </p>

          <ul class="govuk-list govuk-list--bullet">

            <li>the information is correct and complete as far as you know</li>
            <li>you’ll report any changes that might affect how much child
              maintenance you get</li>
          </ul>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You could be prosecuted and have to pay a financial penalty if you
               knowingly give the wrong information or do not report changes.
            </strong>
          </div>

                <p class="govuk-body">
                  <a href="personal_security/portal_account_query.html" role="button" draggable="false" class="govuk-button">
                      Confirm – send application
                  </a>
              </p>




        </div>

      </div>
    </main>
  </div>
  {% endblock %}
