{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                      There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                      <ul class="govuk-list govuk-error-summary__list">
                        <li>
                          <a href="#passport-issued-error">{{data['child-1-first-name'] }} is not eligible for child maintenance</a>
                        </li>
                        <li>
                          <a href="#postcode-error">{{data['child-1-first-name'] }} must be under the age of 20</a>
                        </li>
                      </ul>
                    </div>
                  </div>

 <!--start of answers-->

      <div class="govuk-grid-column-two-thirds-from-desktop">
          <form method="post" novalidate>
        <h1 class="govuk-heading-xl">Check {{data['child-1-first-name'] }}
            {{data['child-1-last-name'] }}'s details</h1>


         


            <h2 class="govuk-heading-m">About child 1</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                        <p class="govuk-body">
                            {{data['child-1-first-name'] }}
                            {{data['child-1-middle-name'] }}
                            {{data['child-1-last-name'] }}
                        </p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../about_qualifying_child/child_name.html">
                        Change
                        <span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>



           
            <div class="govuk-summary-list__row">
                 
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                        <div class="govuk-form-group govuk-form-group--error">
   <p class="govuk-body">{{data['child-1-date-of-birth-day'] }} {{data['child-1-date-of-birth-month'] }} {{data['child-1-date-of-birth-year'] }}</p>
</div>
<span id="name-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span>  {{data['child-1-first-name'] }} must be under the age of 20
      </span>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../about_qualifying_child/child_date_of_birth.html">
                        Change
                        <span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                </dd>

          
            </div>



            <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Overnight stays with other parent
                    </dt>
                    <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{data['shared-care'] }}</p>
                            3 nights a week (156 to 174 a year)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                            Change
                            <span class="govuk-visually-hidden"> contact details</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Is the child eligible for child maintenance?
                    </dt>
                    <dd class="govuk-summary-list__value">
                            <p class="govuk-body">No</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                            Remove child
                            <span class="govuk-visually-hidden"> contact details</span>
                        </a>
                    </dd>
                </div>

        </dl>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">
<!--Start of radio buttons-->
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

        <h2 class="govuk-heading-m">
        Do you need to add another child?
        </h2>

      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-child-2-yes" name="add-another-child-2" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="add-another-child-2-yes">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-child-2-no" name="add-another-child-2" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="add-another-child-2-no">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</div>
</div>
 <!--end of radio buttons-->
          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

<!--end of answers-->
        </div>
      </div>
    </main>
  </div>




  {% endblock %}
