{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="child2MarriedInformation">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                <h1 id="child2MarriedInformation" class="govuk-fieldset__heading">
                  Has {{data['child-2-first-name'] }} ever been married or in a civil partnership?
                </h1>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="child-2-married-yes" name="child-2-married" type="radio"
                    value="yes">
                  <label class="govuk-label govuk-radios__label" for="child-2-married-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="child-2-married-no" name="child-2-married" type="radio"
                    value="no">
                  <label class="govuk-label govuk-radios__label" for="child-2-married-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}