{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  {{ govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
  }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <h1 class="govuk-heading-xl">You do not need to pay a fee to apply
            to the Child Maintenance Service</h1>
          <p class="govuk-body">So you can get through this as quickly as possible,
            you can continue without having to pay the £20 application fee.
            This is because you told us you or your children have experienced
            domestic abuse.</p>
          <!-- Hidden input for exemption fee -- bad code, only way I found of storing data-->
          <input class="hidden-input" name="fee-exempt" autocomplete="name" spellcheck="false" value="yes"
            type="hidden">
          <!--end-->
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}