<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script>
        $( function() {
            var freEmployments = [
                {occupation:"Agriculture - all workers", deduction: "100"},
                {occupation:"Airlines - pilots and co-pilots", deduction: "1022"},
                {occupation:"Airlines - cabin crew", deduction: "720"},
                {occupation:"Aluminium - continual casting operators", deduction: "140"},
                {occupation:"Aluminium - de-dimplers", deduction: "140"},
                {occupation:"Aluminium - driers", deduction: "140"},
                {occupation:"Aluminium - drill punchers", deduction: "140"},
                {occupation:"Aluminium - dross unloaders", deduction: "140"},
                {occupation:"Aluminium - firemen", deduction: "140"},
                {occupation:"Aluminium - furnace operators", deduction: "140"},
                {occupation:"Aluminium - leaders", deduction: "140"},
                {occupation:"Aluminium - mould-men", deduction: "140"},
                {occupation:"Aluminium - pourers", deduction: "140"},
                {occupation:"Aluminium - remelt department labourers", deduction: "140"},
                {occupation:"Aluminium - process operators", deduction: "140"},
                {occupation:"Aluminium - roll flatteners", deduction: "140"},
                {occupation:"Aluminium - cable hands", deduction: "80"},
                {occupation:"Aluminium - case makers", deduction: "80"},
                {occupation:"Aluminium - labourers", deduction: "80"},
                {occupation:"Aluminium - mates", deduction: "80"},
                {occupation:"Aluminium - truck drivers", deduction: "80"},
                {occupation:"Aluminium - measurers", deduction: "80"},
                {occupation:"Aluminium - storekeepers", deduction: "80"},
                {occupation:"Aluminium - apprentices", deduction: "60"},
                {occupation:"Aluminium - all other workers", deduction: "120"},
                {occupation:"Banks and Building Societies - uniformed doormen and messengers", deduction: "60"},
                {occupation:"Brass and Copper - braziers", deduction: "120"},
                {occupation:"Brass and Copper - coppersmiths", deduction: "120"},
                {occupation:"Brass and Copper - finishers", deduction: "120"},
                {occupation:"Brass and Copper - fitters", deduction: "120"},
                {occupation:"Brass and Copper - moulders", deduction: "120"},
                {occupation:"Brass and Copper - turners", deduction: "120"},
                {occupation:"Brass and Copper - all other workers", deduction: "120"},
                {occupation:"Building - joiners and carpenters", deduction: "140"},
                {occupation:"Building - cement works", deduction: "80"},
                {occupation:"Building - roofing felt and asphalt labourers", deduction: "80"},
                {occupation:"Building - labourers and navvies", deduction: "60"},
                {occupation:"Building - all other workers", deduction: "120"},
                {occupation:"Building Materials - stone masons", deduction: "120"},
                {occupation:"Building Materials - tilemakers and labourers", deduction: "60"},
                {occupation:"Building Materials - all other workers", deduction: "80"},
                {occupation:"Clothing - lacemakers", deduction: "60"},
                {occupation:"Clothing - hosiery bleachers", deduction: "60"},
                {occupation:"Clothing - dyers", deduction: "60"},
                {occupation:"Clothing - scourers and knitters", deduction: "60"},
                {occupation:"Clothing - knitwear bleachers and dyers", deduction: "60"},
                {occupation:"Clothing - all other workers", deduction: "60"},
                {occupation:"Constructional Engineering - blacksmiths and their strikers", deduction: "140"},
                {occupation:"Constructional Engineering - burners", deduction: "140"},
                {occupation:"Constructional Engineering - caulkers", deduction: "140"},
                {occupation:"Constructional Engineering - chippers", deduction: "140"},
                {occupation:"Constructional Engineering - drillers", deduction: "140"},
                {occupation:"Constructional Engineering - erectors", deduction: "140"},
                {occupation:"Constructional Engineering - fitters", deduction: "140"},
                {occupation:"Constructional Engineering - holders up", deduction: "140"},
                {occupation:"Constructional Engineering - markers off", deduction: "140"},
                {occupation:"Constructional Engineering - platers", deduction: "140"},
                {occupation:"Constructional Engineering - riggers", deduction: "140"},
                {occupation:"Constructional Engineering - riveters", deduction: "140"},
                {occupation:"Constructional Engineering - rivet heaters", deduction: "140"},
                {occupation:"Constructional Engineering - scaffolders", deduction: "140"},
                {occupation:"Constructional Engineering - sheeters", deduction: "140"},
                {occupation:"Constructional Engineering - template workers", deduction: "140"},
                {occupation:"Constructional Engineering - turners", deduction: "140"},
                {occupation:"Constructional Engineering - welders", deduction: "140"},
                {occupation:"Constructional Engineering - banksmen", deduction: "80"},
                {occupation:"Constructional Engineering - labourers", deduction: "80"},
                {occupation:"Constructional Engineering - shop-helpers", deduction: "80"},
                {occupation:"Constructional Engineering - slewers and straighteners", deduction: "80"},
                {occupation:"Constructional Engineering - apprentices and storekeepers", deduction: "60"},
                {occupation:"Constructional Engineering - all other workers", deduction: "100"},
                {occupation:"Electrical and Electricity Supply - workers incurring laundry costs only", deduction: "60"},
                {occupation:"Electrical and Electricity Supply - all other workers", deduction: "120"},
                {occupation:"Trades ancillary to engineering - pattern makers", deduction: "140"},
                {occupation:"Trades ancillary to engineering - labourers and supervisors", deduction: "80"},
                {occupation:"Trades ancillary to engineering - apprentices and storekeepers", deduction: "60"},
                {occupation:"Trades ancillary to engineering - motor mechanics ingarage repair shop", deduction: "120"},
                {occupation:"Trades ancillary to engineering - all other workers", deduction: "120"},
                {occupation:"Fire Service - uniformed fire fighters and fire officers", deduction: "80"},
                {occupation:"Food - all workers", deduction: "60"},
                {occupation:"Forestry - all workers", deduction: "100"},
                {occupation:"Glass - all workers", deduction: "80"},
                {occupation:"Healthcare - ambulance staff", deduction: "185"},
                {occupation:"Healthcare - nurses", deduction: "125"},
                {occupation:"Healthcare - midwives", deduction: "125"},
                {occupation:"Healthcare - chiropodists", deduction: "125"},
                {occupation:"Healthcare - dental nurses", deduction: "125"},
                {occupation:"Healthcare - occupational therapists", deduction: "125"},
                {occupation:"Healthcare - speech therapists", deduction: "125"},
                {occupation:"Healthcare - physiotherapists", deduction: "125"},
                {occupation:"Healthcare - other therapists", deduction: "125"},
                {occupation:"Healthcare - healthcare assistants", deduction: "125"},
                {occupation:"Healthcare - phlebotomists", deduction: "125"},
                {occupation:"Healthcare - radiographers", deduction: "125"},
                {occupation:"Healthcare - plaster room orderlies", deduction: "125"},
                {occupation:"Healthcare - hospital porters", deduction: "125"},
                {occupation:"Healthcare - ward clerks", deduction: "125"},
                {occupation:"Healthcare - sterile supply workers", deduction: "125"},
                {occupation:"Healthcare - hospital domestics", deduction: "125"},
                {occupation:"Healthcare - hospital catering staff", deduction: "125"},
                {occupation:"Healthcare - laboratory staff", deduction: "80"},
                {occupation:"Healthcare - pharmacists", deduction: "80"},
                {occupation:"Healthcare - pharmacy assistants", deduction: "80"},
                {occupation:"Healthcare - uniformed ancillary staff", deduction: "80"},
                {occupation:"Heating - pipe fitters and plumbers", deduction: "120"},
                {occupation:"Heating - coverers", deduction: "120"},
                {occupation:"Heating - laggers", deduction: "120"},
                {occupation:"Heating - domestic glaziers", deduction: "120"},
                {occupation:"Heating - heating engineers and mates", deduction: "120"},
                {occupation:"Heating - all gas workers", deduction: "100"},
                {occupation:"Heating - all other workers", deduction: "100"},
                {occupation:"Iron Mining - fillers", deduction: "120"},
                {occupation:"Iron Mining - miners", deduction: "120"},
                {occupation:"Iron Mining - underground workers", deduction: "120"},
                {occupation:"Iron Mining - all other workers", deduction: "100"},
                {occupation:"Iron and Steel - day labourers", deduction: "80"},
                {occupation:"Iron and Steel - general labourers", deduction: "80"},
                {occupation:"Iron and Steel - stockmen", deduction: "80"},
                {occupation:"Iron and Steel - timekeepers", deduction: "80"},
                {occupation:"Iron and Steel - warehouse staff", deduction: "80"},
                {occupation:"Iron and Steel - weighmen", deduction: "80"},
                {occupation:"Iron and Steel - apprentices", deduction: "60"},
                {occupation:"Iron and Steel - all other workers", deduction: "140"},
                {occupation:"Leather - curriers and wet workers", deduction: "80"},
                {occupation:"Leather - fellmongering workers", deduction: "80"},
                {occupation:"Leather - tanning operatives", deduction: "80"},
                {occupation:"Leather - all other workers", deduction: "60"},
                {occupation:"Particular Engineering - pattern makers", deduction: "140"},
                {occupation:"Particular Engineering - chainmakers", deduction: "120"},
                {occupation:"Particular Engineering - cleaners", deduction: "120"},
                {occupation:"Particular Engineering - galvanisers", deduction: "120"},
                {occupation:"Particular Engineering - tinners and wiredrawers", deduction: "120"},
                {occupation:"Particular Engineering - toolmakers in the lock making industry", deduction: "120"},
                {occupation:"Particular Engineering - apprentices", deduction: "60"},
                {occupation:"Particular Engineering - storekeepers", deduction: "60"},
                {occupation:"Particular Engineering - all other workers", deduction: "80"},
                {occupation:"Police Force - police officers", deduction: "140"},
                {occupation:"Police Force - community support officers", deduction: "140"},
                {occupation:"Police Force - all other employees", deduction: "60"},
                {occupation:"Precious metals - all workers", deduction: "100"},
                {occupation:"Printing - letterpress section-electrical engineers", deduction: "140"},
                {occupation:"Printing - electrotypers", deduction: "140"},
                {occupation:"Printing - ink and rollermakers", deduction: "140"},
                {occupation:"Printing - machine minders", deduction: "140"},
                {occupation:"Printing - machine minders", deduction: "140"},
                {occupation:"Printing - maintenance engineers", deduction: "140"},
                {occupation:"Printing - stereotypers", deduction: "140"},
                {occupation:"Printing - bench hands", deduction: "60"},
                {occupation:"Printing - compositors", deduction: "60"},
                {occupation:"Printing - readers", deduction: "60"},
                {occupation:"Printing - telecommunications", deduction: "60"},
                {occupation:"Printing - electronic section wire room operators", deduction: "60"},
                {occupation:"Printing - warehousemen", deduction: "60"},
                {occupation:"Printing - all other workers", deduction: "100"},
                {occupation:"Prisons - uniformed prison officers", deduction: "80"},
                {occupation:"Public Service - dockers", deduction: "80"},
                {occupation:"Public Service - dredger drivers", deduction: "80"},
                {occupation:"Public Service - hopper steerers", deduction: "80"},
                {occupation:"Public Service - all other workers", deduction: "60"},
                {occupation:"Public Transport - garage hands including cleaners", deduction: "80"},
                {occupation:"Public Transport - conductors and drivers", deduction: "60"},
                {occupation:"Quarrying - all workers", deduction: "100"},
                {occupation:"Railways - all workers", deduction: "100"},
                {occupation:"Seamen - carpenters on passenger liners", deduction: "165"},
                {occupation:"Seamen - carpenters on cargo vessels", deduction: "140"},
                {occupation:"Seamen - carpenters on tankers", deduction: "140"},
                {occupation:"Seamen - carpenters on coasters", deduction: "140"},
                {occupation:"Seamen - carpenters on ferries", deduction: "140"},
                {occupation:"Shipyards - blacksmiths and their strikers", deduction: "140"},
                {occupation:"Shipyards - boilermakers", deduction: "140"},
                {occupation:"Shipyards - burners", deduction: "140"},
                {occupation:"Shipyards - carpenters", deduction: "140"},
                {occupation:"Shipyards - caulkers", deduction: "140"},
                {occupation:"Shipyards - drillers", deduction: "140"},
                {occupation:"Shipyards - furnacemen", deduction: "140"},
                {occupation:"Shipyards - holders up", deduction: "140"},
                {occupation:"Shipyards - fitters", deduction: "140"},
                {occupation:"Shipyards - platers", deduction: "140"},
                {occupation:"Shipyards - plumbers", deduction: "140"},
                {occupation:"Shipyards - riveters", deduction: "140"},
                {occupation:"Shipyards - sheet iron workers", deduction: "140"},
                {occupation:"Shipyards - shipwrights", deduction: "140"},
                {occupation:"Shipyards - tubers", deduction: "140"},
                {occupation:"Shipyards - welders", deduction: "140"},
                {occupation:"Shipyards - labourers", deduction: "80"},
                {occupation:"Shipyards - apprentices", deduction: "60"},
                {occupation:"Shipyards - storekeepers", deduction: "60"},
                {occupation:"Shipyards - all other workers", deduction: "100"},
                {occupation:"Textiles and Textile Printing - carders", deduction: "120"},
                {occupation:"Textiles and Textile Printing - carding engineers", deduction: "120"},
                {occupation:"Textiles and Textile Printing - overlookers", deduction: "120"},
                {occupation:"Textilesand Textile Printing - technicians in spinning mills", deduction: "120"},
                {occupation:"Textiles and Textile Printing - all other workers", deduction: "80"},
                {occupation:"Vehicles - builders", deduction: "140"},
                {occupation:"Vehicles - railway vehicle repairers", deduction: "140"},
                {occupation:"Vehicles - railway wagon lifters", deduction: "140"},
                {occupation:"Vehicles - railway vehicle painters", deduction: "80"},
                {occupation:"Vehicles - letterers", deduction: "80"},
                {occupation:"Vehicles - builders’ and repairers’ assistants", deduction: "80"},
                {occupation:"Vehicles - all other workers", deduction: "60"},
                {occupation:"Wood and Furniture - carpenters", deduction: "140"},
                {occupation:"Wood and Furniture - cabinet makers", deduction: "140"},
                {occupation:"Wood and Furniture - joiners", deduction: "140"},
                {occupation:"Wood and Furniture - wood carvers", deduction: "140"},
                {occupation:"Wood and Furniture - woodcutting machinists", deduction: "140"},
                {occupation:"Wood and Furniture - artificial limb makers", deduction: "120"},
                {occupation:"Wood and Furniture - organ builders", deduction: "120"},
                {occupation:"Wood and Furniture - packaging case makers", deduction: "120"},
                {occupation:"Wood and Furniture - coopers not providing their own tools", deduction: "60"},
                {occupation:"Wood and Furniture - labourers", deduction: "60"},
                {occupation:"Wood and Furniture - polishers", deduction: "60"},
                {occupation:"Wood and Furniture - upholsterers", deduction: "60"},
                {occupation:"Wood and Furniture - all other workers", deduction: "100"},
                {occupation:"Other - occupation not listed", deduction: "60"}
            ];
            $("#industry").autocomplete({
                source (request, response) {
                    const matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    response(
                        freEmployments
                            .filter(item => matcher.test(item.occupation + item.deduction))
                            .map(item => item.occupation)
                            .slice(0,20)

                    )
                    $('#submit').prop('disabled', true);


                },
                select ( event, ui ) {
                    deduction = freEmployments.find(employments => employments.occupation === ui.item.value).deduction;
                    $("#deduction").val(deduction)
                    $('#submit').prop('disabled', false);
                },
                minLength : 2
            });

            var freAmounts = [
              {occupation:"HealthcareA", deduction: "185"},
              {occupation:"HealthcareB", deduction: "125"},
              {occupation:"HealthcareC", deduction: "125"},
              {occupation:"HealthcareOther", deduction: "80"}
            ]
        });
    </script>
