{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <!--start of answers-->

            <div class="govuk-grid-column-two-thirds-from-desktop">
                <form method="post" novalidate>
                    <h1 class="govuk-heading-xl">Check {{data['child-2-first-name'] }} {{data['child-2-last-name'] }}&rsquo;s details</h1>









                    <dl class="govuk-summary-list ">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                What is their full name?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">
                                    {{data['child-2-first-name'] }} {{data['child-2-middle-name'] }} {{data['child-2-last-name'] }}
                                </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_child/child_name.html">
                                    Change
                                    <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                What is their date of birth?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['child-2-date-of-birth-day'] }} {{data['child-2-date-of-birth-month'] }} {{data['child-2-date-of-birth-year']
                                    }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_child/child_date_of_birth.html">
                                    Change
                                    <span class="govuk-visually-hidden"> date of birth</span>
                                </a>
                            </dd>
                        </div>







                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Does {{data['child-2-first-name'] }} stay overnight with the other parent?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['shared-care2'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                How often does {{data['child-2-first-name'] }} stay overnight with the other parent? </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['number-of-nights2'] }} nights per {{data['how-regular2'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Do you need to add special occasions like school holidays or birthdays?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['extra-nights2'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div>

                       

                    </dl>

                    <form action="/form-handler" method="post" novalidate>

                        <input type="hidden" name="answers-checked" value="true">

                        <a href="add_another_child_loop_2" role="button" draggable="false" class="govuk-button">
                            Continue
                        </a>

                    </form>

            </div>
        </div>
    </main>
</div>

<!--end of answers-->
</div>
</div>
</main>
</div>




{% endblock %}