
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!--Change to test initial commit *this can be removed-->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Child maintenance online application
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <span class="govuk-caption-xl">{{serviceName}}</span>




      <span class="govuk-caption-l">Alpha phase</span>
      <h2 class="govuk-heading-l">application journey</h2>
      <br>
      <br>
      <br>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h3 class="govuk-heading-m">Iteration</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Sprint/iterations</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Notes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="cmg-app/prototype_1/index.html">Prototype 1</td>
                  <td class="govuk-table__cell">25 Febuary 2019 to 4 March 2019</td>
                <td class="govuk-table__cell">Initial prototype for the Child Maintenance Service.</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="cmg-app/prototype_1-1/index.html">Prototype 1.1</td>
                  <td class="govuk-table__cell">5 March 2019 to 14 March 2019</td>
                <td class="govuk-table__cell">Declaration before invitation code, domestic abuse query just after invitation code, addition of title to name, Yes / No queries, other parents name question at front, Removal of 'how many children' question, addition of 'check answers' pages, addition of collect and pay fees.</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="cmg-app/prototype_1-2/index.html">Prototype 1.2</td>
                  <td class="govuk-table__cell">14 March 2019 - 21 March 2019</td>
                <td class="govuk-table__cell">Declaration move to before payment, removal of Yes / No from National Insurance number, postcode lookup implementented for address, Removal of 'family members phone', Other parent's name moved to Other parent's section, Security details moved to 'about applicant', Court order at start of 'about children', addition of marriage question, removal of employment details, addition of 'Roll Number'</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="cmg-app/prototype_1-3/index.html">Prototype 1.3</td>
                  <td class="govuk-table__cell">21 March 2019 - 1 April 2019</td>
                <td class="govuk-table__cell">Removal of "Live in the UK?" question, and Yes / No questions from "About other parent" part of the journey as well as "other parent" review section.</td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_1/start.html">Sprint 1</a></td>
                  <td class="govuk-table__cell">1 April 2019 - 10 April 2019</td>
                <td class="govuk-table__cell"><p>Addition of 'Post' to contact page, security details moved to back of application, iteration of other parent section,
                  'add another child' included in childs name page, update to 'Shared care' design, ability to add multiple children at start of change about child section,
                  adjustment of positon of some pages throughout the journey, 'Other parent' iterations.</p>

                <p><strong>UR sessions:</strong> Wallsend, Killingworth, North Shields and South Shields jobcentres (15 interviews)</p>

              <p><strong>UR insights:</strong> Users not fully aware they can enter partial info about other parents. Some people expressed
                real concern about entering financial info such as credit or debit cards. We saw expectations
                and learned behaviour that led to assumptions of a save and return feature.
                Collect and Pay explanation not clear, especially percentages – an example could help.</td>
            </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_2/start.html">Sprint 2</a></td>
                    <td class="govuk-table__cell">11 April 2019 - 24 April 2019</td>
                  <td class="govuk-table__cell"><p>'Maintenance liability order' moved to front and broken up, addition of task list, questions grouped, addition of 'consent order' in children section.</p>

                  <p><strong>UR sessions:</strong> Bury jobcentre (3 interviews), call listening at Tyneview Park</p>

                <p><strong>UR insights:</strong> Collect and Pay is thought be only payment option; people change their mind back to Direct Pay after
                  learning that no contact with the other parent is needed. We know we need to probe for partial info on other parent.</p></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_3/start.html">Sprint 3</a></td>
                    <td class="govuk-table__cell">24 April 2019 - 8 May 2019</td>
                  <td class="govuk-table__cell"><p>Contact change to 'What is your phone number?', addition of 'Can we send text messages?',
                    addition of 'Do you have an email address?', addition of 'How many children?', addition of 'other parent introduction',
                    addition of other parent filter questions and Yes / No, Other parent information page.</p>

                  <p><strong>UR sessions:</strong> Hyde, Stanley, North Shields jobcentres, Womensaid focus group, pre-recorded call listening on domestic abuse<p>

                <p><strong>UR insights:</strong> Perception of Collect and Pay being only option, incorrect advice given by Citizens Advice, Relate etc.
                  Direct Pay not clear for those who cannot discuss arrangements without conflict, Direct Pay only viable for people with reassurance about back-up and support, economic control a common form of domestic abuse.
                Fear stops people using the service - fear of other parent having bank details, of things 'kicking off', of payments equalling child access. The domestic abuse questions - 'get them out of the way', have a softer
                lead-in, people often do not recognise the signs of domestic abuse - try 'these bahaviours'. Still a save and return expectation.</td></tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_4/start.html">Sprint 4</a></td>
                    <td class="govuk-table__cell">9 May 2019 - 22 May 2019</td>
                  <td class="govuk-table__cell"><p>Eligibility questions at front of application, Declartion at front, update to design of 'Domestic abuse', removal of report domestic abuse dropout, addition of 'Correspondence address', addition of 'Contact with other parent' question.</p>

                  <p><strong>UR sessions:</strong> South Shields, Stanley jobcentres</p>

                <p><strong>UR insights:</strong> Improved understanding of the different payment types. It's now easier to tell us about the contact situation, once that's done people could focus on making a choice between payment types. More info entered about other parent. Still
                  answering no to do you know about other parent's address, but adding more info to other questions including employment. Next steps page: unanswered questions around process, timescales, formats, domestic abuse - not recognising it, not realising what 'reporting' means,
                  early question not a problem but it may be jarring to some.</p></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_5/start.html">Sprint 5</a></td>
                    <td class="govuk-table__cell">23 May 2019 - 5 June 2019</td>
                  <td class="govuk-table__cell"><p>Start button after 'Before you start', addition of 'check you're eligible to apply' pattern, declaration return to the back of application, domestic abuse moved next to payment, home address in front of correspondence question, addition of phone preferences page, addition of SMS page, redesign to collect and pay screen, interuption card pattern implemented, additon of portal account query page, redesign of domestic abuse page, return of report domestic abuse page.</p>

                  <p><strong>UR sessions:</strong> Womensaid, 1:1 end-to-end tests (2), agent sessions (10)</p>

                  <p><strong>UR insights:</strong> Domestic abuse: explantions good, checkboxes a concern ('where is this going to?'), reporting it too - would it go to police?
                  Softer language. Address: reassurance that this won't go to the other person good. Payment types: good that', calling out reassurance messages. Direct Pay and Collect and Pay: really confused, angry about other parent getting an option, would have abandoned the whole process.
                  Bank details: would stop and phone (see previous point)
                  Other parent info: thought she'd need everything, not just some of it
                  Declaration: 'deliberately', 'incomplete' - 'worrying', given that we're asking for this. Some worries about access to account. save and return would be useful.
                  Domestic abuse at front of service: 'Oh wow, this is good', really empowered and validated by answering it, offended by fee being waived.
                  Address: needs to be confidential, wanted email.
                  Contact question: 'Are you comfortable...?' – 'brilliant question, feels like i'm not going to be pushed into anything'.
                  Payment types - reassurance over contact.
                  Support links - 'really good that you're putting them there, amazing'</br></br>
                  Agents – good support for domestic abuse questions - more types of abuse discussed (financial); shared care - difficult, filter questions, random nights, 'nightmare';
                  spelling of children's names; next steps – 'up to 6 weeks'; 'maintenance liabiility order' - learned we need to forget this, focus on payments; 'known-as' name; other parent info - follow-up probing questions.</p>

                </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_6/start.html">Sprint 6</a></td>
                    <td class="govuk-table__cell">10 June 2019 - 17 June 2019</td>
                  <td class="govuk-table__cell"><p>adjustment to content on 'Start page', redesign of 'applicant contact page', addition of printout address for 'home address', redesign of service choice, addition of 'other contact information' to other parent inforamtion page.</p>

                  <p><strong>UR sessions:</strong> Hyde jobcentre (13 interviews)</p>
                  <p><strong>UR insights:</strong> service name research - see email from Jenny. Start page 'difficult'. Other parent info stuff offputting, feels like people need the complete list.
                  Concerns around giving bank details. Direct Pay not a 'comfortable' option.</p>


                </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_7/start.html">Sprint 7</a></td>
                    <td class="govuk-table__cell">20 June 2019 - 3 July</td>
                  <td class="govuk-table__cell">

                    <p>Mock alpha assessment.</p>

                  </td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_8/start.html">Sprint 8</a></td>
                      <td class="govuk-table__cell">4 July 2019 - 17 July 2019</td>
                    <td class="govuk-table__cell">

                      <p><strong>UR sessions:</strong> Family Mediation, Citizens Advice: generative research on domestic abuse, Child Maintenance Service seen as last resort.</p>

                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_9/start.html">Sprint 9</a></td>
                      <td class="govuk-table__cell">18 July 2019 - 31 July 2019</td>
                    <td class="govuk-table__cell"><p>Mock re-assessment.</p></td>
                  </tr>

                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_10/start.html">Sprint 10</a></td>
                      <td class="govuk-table__cell">1 August 2019 - 14 August 2019</td>
                    <td class="govuk-table__cell">

                      <p><strong>UR sessions:</strong> Citizens Advice Newcastle library, Family Gateway</p>
                      <p><strong>UR insights:</strong> Not everyone has a phone, often need to enter someone else's number. Shared care question confusing.
                      Online account: some have no access to internet or low digital skills. People are okay with it, but PIN and password really hard for them. People are expecting to have to reset passwords.
                      Direct Pay description helpful (after Direct Pay question given its own page) - back-up and support content helpful.
                      'We have to tell the other parent': this is confusing. Domestic abuse advice on interrupt cards well received. Next steps: 'how long will it take?'
                    </td>
                  </tr>

                    <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_11/start.html">Sprint 11</a></td>
                      <td class="govuk-table__cell">15 August 2019 - 28 August 2019</td>
                    <td class="govuk-table__cell">

                      <p><strong>UR sessions:</strong> Newcastle Integrated Domestic Abuse Service (NIDAS), Citizens Advice Hammersmith and Shepherd's Bush, North Shields jobcentre</p>
                      <p><strong>UR insights:</strong> Domestic abuse info up front does not improve experiecne because the questions are still at end. Phone questions are okay, low income users canot afford phone or internet.
                      Online accounts useful for many but it can pose a problem. Password resets are expected. £20 application fee makes it impossible for low income people to use service. Domestic abuse dropout at end felt like a 'dark pattern'.</p>

                    </td>
                  </tr>

                  <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row"><a href="cmg-app/sprint_12/start.html">Sprint 12</a></td>
                    <td class="govuk-table__cell">29 August 2019 - 11 Sept</td>
                  <td class="govuk-table__cell">

                    <p><strong>UR sessions:</strong> Galashiels jobcentre (11 interviews: 3 end to end, 1 up to payment)</p>
                    <p><strong>UR insights:</strong> Fee a problem, strong objections. Other parent info: would give up, seems like they need all of it not just some (x4 said this).
                    Access to account: 'would have to drag kids down to library'. Don't need contact with the other parent: 'really good info up front'. Domestic abuse interrupt: too far in, but content really good. Court order: 'what's that?'. Phone number: fine, but not everyone has freely available phone.
                    Address fine. Shared care confusing. Direct pay: can be conflated with direct debit. Payment types: distrust of other parent, content clear though.
                    Bank details: 'no' to 'Do you need us to pass on...' – misunderstanding around process we describe.
                    Understanding table a struggle, particularly 'if you pay' content. Other parent questions fine. PIN and password - not playing well with people.
                    Domestic abuse warm-up page: should be at front, not end, worry about what this might mean in the future (courts etc) - is it recorded?
                    'Reported': too formal, would have to think, lots of to and fro over this. Next steps: more useful, no further questions on this one.</p>

                  </td>
                </tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell" scope="row">
    <a href="cmg-app/sprint_13/start.html">Version 13</a>
  </td>
  <td class="govuk-table__cell">12 September 2019 - 25 sept</td>
  <td class="govuk-table__cell">
    <p><strong>UR sessions:</strong> Killingworth jobcentre, 1:1 interviews on domestic abuse(2)
    <p><strong>UR insights:</strong> Domestic abuse question at the end can feel repetitive of info at front of the journey - too many questions about it, 'just ask it at the front'.
    Low levels of trust with other parent makes people reluctant to share bank details. It's pushing people towards Collect and Pay.
    Universal Credit users familiar with accounts but some object due to safety concerns. PIN and passwords really problematic.</p>

  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell" scope="row">
    <a href="cmg-app/sprint_14/start.html">Version 14</a>
  </td>
  <td class="govuk-table__cell">26 September 2019 - 9 October 2019 </td>
  <td class="govuk-table__cell">
    <p><strong>UR sessions:</strong> Bristol jobcentre</p>
    <p><strong>UR insights:</strong> Fees a barrier. Bank accounts: not everyone has one. Domestic abuse: descriptions helped, reassurance not always strong enough.
    Data input overall okay. Shared care: complicated, what if separation is brand new? Payment types: generally clear, passing on to other parent a problem for fear of misuse.
    Collect and Pay seemed clear because people feel like DWP is acting as a third party, charges make people pause.
    Non-id phone numbers won't be answered. Online account is attractive to users, but in Bristol high level of asylum seekers who need help to do stuff online.
    PIN and password - 7-digit PIN missed, mix of letters and numbers, save and return assumption: 'Am I creating an account to come back to here?'</p>


  </td>
</tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell" scope="row">
    <a href="cmg-app/sprint_15/start.html">Version 15</a>
  </td>
  <td class="govuk-table__cell">10 October 2019 - 23 October 2019</td>
  <td class="govuk-table__cell">
    <p><strong>UR sessions:</strong> Womensaid 1:1 interviews (3)</p>
    <p><strong>UR insights:</strong> Start - helpful that fee is waived, but not eeryone recognises domestic abuse.
    'Tell someone about it' - 'what does this mean?'' but everyine clicked on it.
    (gov.uk page felt scary but also expected - 999, Womensaid England needs to be on there, navigating back sometimes a problem).
    Reassurance - 'If you're worried...' helpful and empathetic.
    Court decision - all 3 had to reread h1 text, really long.
    Back links 'really nice' - easily found.
    Domestic abuse - content really helpful in helping people recognise it.
    Reassurance messaging all inset text now - working well.
    Domesitc abuse in relation to who? Other parent?
    Reporting - reassurance again good, one user needed more.
    Examples in hint text - support worker not recognised as Womensaid.
    From 'behaviours' to 'domestic abuse' - catches people out.
    Reassurance - 'thumbs up for this'.
    Shared care - still confusing if a complex situation.
    Payment types - Direct Pay straightforward, back-up really good, 'love' what happens if it deosn't work.
    Bank details - still scary for some.
    Account online - reassurance, does other parent see the same account? If no to account, then what? How do we communicate?
    Next steps - what happens next, time frame? Numbers good, but how exactly will this communication happen.</p>

  </td>
</tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">
              <a href="cmg-app/dev_build/start.html">Dev build</td>
            <td class="govuk-table__cell">10 October 2019</td>
            <td class="govuk-table__cell">Private beta version 1 dev build</td>
          </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" scope="row">
      <a href="cmg-app/march2020/start.html">March 2020</td>
    <td class="govuk-table__cell"></td>
    <td class="govuk-table__cell">Private beta</td>
  </tr>

  

            </tbody>
          </table>

          </tbody>
</table>

          <br><br>

          <h2 class="govuk-heading-l">Research prototypes</h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Sprint/iterations</th>
      <th class="govuk-table__header" scope="col">Date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

  <tr class="govuk-table__row">
    <td class="govuk-table__cell" scope="row">
      <a href="cmg-app/other_parent_test_2/start.html">Other parent data gather</a>
    </td>
    <td class="govuk-table__cell">March 17th 2020 - in progress</td>
    <td class="govuk-table__cell">
      <span style="color:red"></span>
    </td>
  </tr>

<tr class="govuk-table__row">
  <td class="govuk-table__cell" scope="row">
    <a href="cmg-app/qctestv2/qctestv2_main_prototype/about_qualifying_child/child_name.html">Shared care V2</a>
  </td>
  <td class="govuk-table__cell">April 2nd 2020 - in progress</td>
  <td class="govuk-table__cell">
    <span style="color:red"></span>
  </td>
</tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" scope="row">
        <a href="cmg-app/qctest/qctest_main_prototype/about_qualifying_child/child_name.html">Shared care</a>
      </td>
      <td class="govuk-table__cell">March 17th 2020 - in progress</td>
      <td class="govuk-table__cell">
        <span style="color:red"></span>
      </td>
    </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">
              <a href="cmg-app/sprint_16/start.html">Version 16</a>
            </td>
            <td class="govuk-table__cell">8 October 2019 - in progress</td>
            <td class="govuk-table__cell">
              <span style="color:red"></span>
            </td>
          </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">
                <a href="cmg-app/pin_generator/pin_generator_main_prototype/personal_security/do_you_want_to_manage_online.html">Pin and password</a>
              </td>
              <td class="govuk-table__cell">18 October 2019 - in progress</td>
              <td class="govuk-table__cell">
                <span style="color:red"></span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">
                <a href="cmg-app/sprint_16/sprint_16_main_prototype/about_applicant/applicants_phone_number">Whats the best number - check your answers
</a>
              </td>
              <td class="govuk-table__cell">18 October 2019 - in progress</td>
              <td class="govuk-table__cell">
                <span style="color:red"></span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">
                <a href="/cmg-app/sprint_16/sprint_16_main_prototype/payment_service/payment_card_details">Make a card payment - now you need to send application
                </a>
              </td>
              <td class="govuk-table__cell">18 October 2019 - in progress</td>
              <td class="govuk-table__cell">
                <span style="color:red"></span>
              </td>
            </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">
                  <a href="/cmg-app/save_and_return/save_and_return_main_prototype/index">Task list
                  </a>
                </td>
                <td class="govuk-table__cell">1 November 2019 - in progress</td>
                <td class="govuk-table__cell">
                  <span style="color:red"></span>
                </td>
              </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">
                    <a href="/cmg-app/test_save_and_return/test_save_and_return_main_prototype/index">Task list test
                    </a>
                  </td>
                  <td class="govuk-table__cell">30 December 2019 - in progress</td>
                  <td class="govuk-table__cell">
                    <span style="color:red"></span>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">
                    <a href="/cmg-app/sprint_17/start">Sprint 17
                    </a>
                  </td>
                  <td class="govuk-table__cell">January 2020 - in progress</td>
                  <td class="govuk-table__cell">
                    <span style="color:red"></span>
                  </td>
                </tr>
                  
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">
                        <a href="cmg-app/test_other_parent_info/start.html">Other parent address</a>
                      </td>
                      <td class="govuk-table__cell">January 2020 - in progress</td>
                     
                    </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">
                          <a href="cmg-app/other_parent_test/start.html">Other person data gather</a>
                        </td>
                        <td class="govuk-table__cell">February 2020 tested</td>
                      
                      </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell" scope="row">
                            <a href="cmg-app/other_parent_test_1/start.html">Other person data gather v1.1</a>
                          </td>
                          <td class="govuk-table__cell">February 2020 - in progress</td>
                        
                        </tr>

                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell" scope="row">
                                <a href="cmg-app/dev_build/dev_build_main_prototype/next_steps">Application submitted page</a>
                              </td>
                              <td class="govuk-table__cell">February 2020</td>
                            
                            </tr>
            </tbody>
  </table>
    </div>
  </div>

{% endblock %}
