{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">
                                How child maintenance is paid
                            </h1>
                        </legend>

                    </fieldset>
                </div>

                <h2 class="govuk-heading-m">Collect and pay</h2>

                <p>How collect and pay works content placeholder</p>
                <a href="#" role="button" draggable="false" class="govuk-button">
                    Continue
                </a>

            </div>
    </main>
    </div>
</div>
{% endblock %}