{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback_banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">
                                How child maintenance is paid
                            </h1>
                        </legend>

                    </fieldset>
                </div>

                <h2 class="govuk-heading-m">Direct Pay</h2>

                <p>Most separated parents who use the Child Maintenance Service manage payments between themselves. This is called Direct Pay.
</p>

<p>A Direct Pay arrangement means the Child Maintenance Service will:
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>calculate the amount of maintenance that must be paid, and tell both parents
</li>
    <li>take legal action if payments are not made
</li>
    <li>make a new calculation each year, or if either parent’s circumstances change
</li>
</ul>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
         If you do not want to have contact with the other parent, the Child Maintenance Service can contact them for you. We will
        provide them with your bank details so payments can be set up.
    </strong>
</div>

<p>If the paying parent refuses to pay child maintenance, the Child Maintenance Service can change your arrangement type in
the future.
</p>


                <form method="post" novalidate>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="otherParentDobInformation" role="group">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
                                <h1 class="govuk-fieldset__heading" id="otherParentDobInformation">
                                     Could a Direct Pay arrangement work for you?

                                </h1>
                            </legend>
                            <div class="govuk-radios" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="other-parent-dob-1" name="other-parent-dob" type="radio" value="yes" aria-controls="conditional-other-parent-dob-1"
                                        aria-expanded="true">
                                    <label class="govuk-label govuk-radios__label" for="other-parent-dob-1">
                                        Yes
                                    </label>
                                </div>



                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="other-parent-dob-2" name="other-parent-dob" type="radio" value="no">
                                    <label class="govuk-label govuk-radios__label" for="other-parent-dob-2">
                                        No
                                    </label>
                                </div>
                            </div>
                    </div>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>


            </div>
    </main>
    </div>
    {% endblock %}