{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
        {{ govukBackLink({
            text: 'Back',
            href: 'javascript:history.back()'
        }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-xl">Check your answers so far</h1>

                {% include "cmg-app/sprint_2/child_loop_iterations/child_loop_iteration_2/reviews/review_content/review_about_child_1.html" %}


            </div>
        </div>
    </main>
</div>

{% endblock %}
