{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!--Feedback banner start-->
{% include "feedback_banner_padding_top.html" %}
<!--Feedback banner stop-->


<div class="govuk-width-container">


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Tell us your next of kin</h1>

        <p class="govuk-body-l">Use this Service to set up your next of kin.</p>


        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You’ll need:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>your name</li>
          <li>your National Insurance number</a></li>
          <li>your address</li>
          <li>the other person's name</li>
          <li>the other person's date of birth</li>
          <li>the other person's National Insurance number</li>
        </ul>


          <p>You can not use the service if you:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>are under 18 years old</li>
            <li>live outside the United Kingdom</li>
          </ul>



          <a href="task_list" role="button" draggable="false"
          class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
          </a>





      </div>
    </div>
  </main>
</div>


<style>
  .survey-heading a {
      background-color: #005ea5;
      font-family: "nta", Arial, sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.11111;
      display: block;
      margin-top: 0px;
      margin-bottom: 30px;
      padding-bottom: 30px;
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      color: #ffffff;
      text-decoration: none;
  }

  .survey-heading a:hover {

      text-decoration: underline;
  }

  .survey-heading {
      text-align: center;
      margin: 0px;

  }

  c-related-navigation {
      color: #0b0c0c;
      border-top: 2px solid #005ea5;
  }

  .app-related-items {
      border-top: 0px solid #005ea5;
      padding-top: 0px;
  }

  </style>

{% endblock %}
