{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-width-container">

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Tell us your next of kin
                </h1>
                <h2 class="govuk-heading-l">Application home</h2>

                <ol class="app-task-list">





                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">1. </span> About you
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <a class="app-task-list__task-name" href="applicants_name" aria-describedby="eligibility-completed">
                                Your name
                            </a><strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                        </li>
                        <li class="app-task-list__item">
                            <a class="app-task-list__task-name" href="applicants_address_manual_input2" aria-describedby="eligibility-completed">
                                your address
                            </a>
                            <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                        </li>
                        <li class="app-task-list__item">
                            <a class="app-task-list__task-name" href="applicants_date_of_birth" aria-describedby="eligibility-completed">
                                your date of birth
                            </a>
                            <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                        </li>
                        <li class="app-task-list__item">
                            <a class="app-task-list__task-name" href="applicants_national_insurance_number" aria-describedby="eligibility-completed">
                                your National Insurance number
                            </a>
                                                        <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                            
                        </li>
                        <li class="app-task-list__item">
                            <a class="app-task-list__task-name" href="applicants_phone_number" aria-describedby="eligibility-completed">
                                your phone number
                            </a>
                                                                                    <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                        </li>


                        </li>



                    </ul>
                    </li>

                    <li>
                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">2. </span> About your next of kin
                        </h2>
                        <ul class="app-task-list__items">
                            <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="kins_name" aria-describedby="eligibility-completed">
                                    their name
                                </a>
                                                                                                                    <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                            </li>
                            <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="kin_address" aria-describedby="eligibility-completed">
                                    their address
                                </a>
                            </li>
                            <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                            <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="kins_date_of_birth" aria-describedby="eligibility-completed">
                                    their date of birth
                                </a>
                                                                                                                    <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                            </li>
                            <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="kins_national_insurance_number" aria-describedby="eligibility-completed">
                                    their National Insurance number
                                </a>
                                                                                                                    <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                            </li>
                            <li class="app-task-list__item">
                                <a class="app-task-list__task-name" href="kins_phone_number" aria-describedby="eligibility-completed">
                                    their phone number
                                </a>
                                                                                                                    <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong>

                            </li>


                    </li>



                    </ul>

                    </li>
                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">3. </span> Managing your information online
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <a class="app-task-list__task-name" href="../personal_security/personal_security_details.html" aria-describedby="company-information-completed">
                                Creating an online account
                            </a>

                        </li>

                    </ul>
                    </li>

                    <h2 class="app-task-list__section">
                        <span class="app-task-list__section-number">4. </span> Send your application
                    </h2>
                    <ul class="app-task-list__items">
                        <li class="app-task-list__item">
                            <a class="app-task-list__task-name" href="../personal_security/personal_security_details.html" aria-describedby="company-information-completed">
                                Submit
                            </a>

                        </li>


                </ol>

            </div>
        </div>


    </main>
</div>
{% endblock %}