
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!--Change to test initial commit *this can be removed-->
{{ govukBackLink({
  text: 'Back',
  href: 'javascript:history.back()'
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Child maintenance online application
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <span class="govuk-caption-xl">{{serviceName}}</span>




      <span class="govuk-caption-l">Alpha phase</span>
      <br>
      <br>
      <br>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h3 class="govuk-heading-m">Iteration</h3>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Sprint/iterations</th>
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Notes</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="sprint_14_main_prototype/index.html">Version 14 iteration 1</a></td>
                  <td class="govuk-table__cell">19 September 2019 - in progress</td>
                <td class="govuk-table__cell"><strong>changes include:</strong><br>
                Added details about not sharing info to start page, removed interrupt page.</br></br>
                Reframed domestic abuse question to make clearer that we ask the question to find out
                whether applicant needs to pay fee.</br></br>
                Moved domestic abuse/fee question to front of service; it appears
                just after URN screen. This is to quickly answer the need of 'do
                I have to pay £20?', and deals with domestic abuse first up, in line with UR.</br></br>
                Added 'You will/won't have to pay fee at end of application' after
                domestic abuse/fee question, again to allay concerns quickly.</br></br>
                Added dropout for those who can't pay today, with advice on what to do next –
                rather fail fast than let someone go through the whole application.</br></br>
                Reframed 'Would you like us to give bank details to other parent'
                so that people know the other parent has to have bank details to make
                Direct Pay payments.</br></br>
                
                </td></tr>
            </tbody>
          </table>

          <br><br>
    </div>
  </div>

{% endblock %}
